<div class="introduction">
	<h2>It's time to #MuteRKelly</h2>
	<p>
		To begin removing R. Kelly from your library, please connect to Spotify.
	</p>
	<p>
		<a href="{{ getAuthorizeUrl() }}" class="btn btn-success btn-lg"
			>Connect to Spotify</a
		>
	</p>
	<hr />
	<h2>Frequently Asked Questions</h2>
	<h3>What is this?</h3>
	<p>
		It's a web app that will quickly go through your Spotify playlists,
		detect and remove R. Kelly music. It also removes any music that R.
		Kelly wrote or any tracks he was featured on.
	</p>
	<h3>Why?</h3>
	<p>
		R. Kelly has a long history of sexual imprisonment and abuse. Every time
		we play his music, we give him power. The idea came after
		<a href="https://github.com/bradkovach">I</a> watched
		<a
			href="https://www.mylifetime.com/shows/surviving-r-kelly"
			target="_blank"
			>Surviving R. Kelly on Lifetime</a
		>.
	</p>
	<h3>How do I use it?</h3>
	<p>
		You can automatically remove R. Kelly from all playlists, or one
		playlist at a time. Once you're logged in, go to
		<a routerLink="/playlists">Playlists</a> and click Auto Remove, or go to
		an individual playlist and Auto Remove.
	</p>
	<h3>Is this safe/secure?</h3>
	<p>
		Yes. Every effort has been made so that your credentials never leave
		your browser window. Simply refresh the page or close your tab and
		access to your Spotify account will disappear automatically.
	</p>
	<p>
		Your Spotify credentials (username/password/application access
		tokens/etc) are not stored and they never leave your browser. If you
		want, you can remove the app from your Spotify account from your
		<a href="https://www.spotify.com/us/account/apps/" target="_blank"
			>Spotify Apps Page</a
		>.
	</p>
	<h3>Can I review the source code?</h3>
	<p>Yes!  The project is open source, and you are invited to contribute to the utility.  You can <a href="https://github.com/bradkovach/ng-mute-r-kelly">Contribute on GitHub</a>!</p>
	<h3>Disclaimer</h3>
	<p>
		Use this tool at your own risk. Although I have tested the tool extensively
		against my own Spotify account, I make no promises about the tool's
		reliability or safety. If something terrible happens to your account, I
		accept no risk or liability.
	</p>
</div>
